# Generate a long random secret with: openssl rand -hex 32
ENCRYPTION_SECRET_KEY=8c01c32565325711217cb43a82002257993e9bb630faf990aa1fb57773f1c5f4
# Keep this directory on persistent server storage in production.
DATA_DIR=./data
FCM_MAX_CONCURRENCY=5
FCM_MAX_RETRIES=3
NODE_ENV=development
